<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Bootstrap/css/bootstrap.min.css">
    <title>Cards</title>
</head>
<body>

  <div class="container">

    <h1 class="text-center mt-5">Carousel</h1>
    <p class="text-sm text-center">(data-bs-interval(1000) = 1detik)</p>
    <h2 class="mt-5 mb-3">Contoh carousel autoplay dengan set timer</h2>
    <ul class="list-unstyled">
      <li>Slide 1 = 7detik</li>
      <li>Slide 2 = 2detik</li>
      <li>Slide 1 = 5detik</li>
    </ul>
    <div id="carouselExampleInterval" class="carousel slide mb-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="7000">
          <img src="../img/thumbnail-2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../img/thumbnail-3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/thumbnail.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    

  </div>


    <script src="../../Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>