<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Bootstrap/css/bootstrap.min.css">
    <title>Navbar</title>
</head>
<body class="bg-dark">

    <!-- Sebagai link -->
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar (link)</a>
      </div>
    </nav>
    <br>
    <!-- Sebagai heading -->
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Navbar (heading)</span>
      </div>
    </nav>
    

    <h1 class="text-center text-white m-5">Navbar</h1>
    <h2 class="mt-5 mb-3 text-white text-center">Contoh Navbar brand dengan text</h2>


    <script src="../../Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>