<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Bootstrap/css/bootstrap.min.css">
    <title>Navbar</title>
</head>
<body class="bg-dark">
    
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
      </a>
    </div>
  </nav>

  <h1 class="text-center m-5 text-white">Navbar</h1>
  <h2 class="mt-5 mb-3 text-white text-center">Contoh Navbar brand dengan image / icon</h2>


    <script src="../../Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>