<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <title>Cards</title>
</head>
<body>

  <div class="container">

    <h1 class="text-center m-5">Pagination</h1>
    <h2 class="mt-5 mb-3">Contoh mengatur size tab</h2>
    <nav aria-label="...">
      <ul class="pagination pagination-lg">
        <li class="page-item active" aria-current="page">
          <span class="page-link">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav>
    

  </div>


    <script src="../Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>