<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Bootstrap/css/bootstrap.min.css">
    <title>Navbar</title>
</head>
<body class="bg-dark" style="min-height: 1250px;">
  
  
  <h1 class="text-center text-white m-5">Navbar</h1>
  <h2 class="mt-5 mb-3 text-white text-center">Membuat sticky navbar  (scroll untuk melihat hasil)</h2>
    <nav class="navbar sticky-top bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Sticky top</a>
      </div>
    </nav>


    <script src="../../Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>