<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Bootstrap/css/bootstrap.min.css">
    <title>Cards</title>
</head>
<body>

  <div class="container">

    <h1 class="text-center m-5">Contoh Card</h1>
    <h2 class="mt-5 mb-3">Cara mengatur lebar card dengan tambahan class "w-ukuranLebar"</h2>
    <hr>
    <h3>Contoh menggunakan class "w-75"</h3>
    <div class="card w-75 mb-3">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
    
    <h3>Contoh menggunakan class "w-50"</h3>
    <div class="card w-50 mb-3">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>

    <h3>Contoh menggunakan class "w-25"</h3>
    <div class="card w-25 mb-3">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>

    <p>Selengkapnya tentang <a href="https://getbootstrap.com/docs/5.3/utilities/sizing/">rincian ukuran</a> dari bootstrap </p>

  </div>




    <script src="../../Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>