<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <title>Alerts</title>
</head>
<body>

  <div class="container">
    <h1 class="text-center m-5">Badge</h1>
    <h2 class="mt-5 mb-3">Warna badge dapet berubah hanya dengan menambahkan nama class background dari Bootstrap</h2>
    <hr>
    <h1>Example heading <span class="badge bg-primary">New</span></h1>
    <h2>Example heading <span class="badge bg-secondary">New</span></h2>
    <h3>Example heading <span class="badge bg-warning">New</span></h3>
    <h4>Example heading <span class="badge bg-info">New</span></h4>
    <h5>Example heading <span class="badge bg-black">New</span></h5>
    <h6>Example heading <span class="badge bg-danger">New</span></h6>
  </div>


    <script src="../Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>