<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <title>Alerts</title>
</head>
<body>

  <div class="container">
    <h1 class="text-center m-5">Badge</h1>
    <h2 class="mt-5 mb-3">Contoh pengaturan position badge pada button (dengan angka)</h2>
    <hr>
    <button type="button" class="btn btn-primary position-relative">
      Kotak Masuk
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        18+
        <span class="visually-hidden">Pesan belum dibaca</span>
      </span>
    </button>
    
    <h2 class="mt-5 mb-3">Contoh pengaturan position badge pada button (hanya penanda)</h2>
    <hr>
    <button type="button" class="btn btn-primary position-relative">
      Hey!
      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
      </span>
    </button>
  </div>


    <script src="../Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>