<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Bootstrap/css/bootstrap.min.css">
    <title>Cards</title>
</head>
<body>

  <div class="container">

    <h1 class="text-center m-5">Contoh Card</h1>
    <h2 class="mt-5 mb-3">Contoh tampilan card yang berisikan judul, text, dan link</h2>

    <div class="card" style="width: 18rem;">
      <img src="../img/image-removebg-preview.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Isi konten / deskripsi singkat card sebagai penjelas isi konten.</p>
      </div>
    </div>

  </div>




    <script src="../../Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>